*{
    padding: 0;
    margin: o;
}
.navbar{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.bksnavbar img{
    width: 100%;
    height: 100%;
}
.bksnavbar{
    width: 35%;
    height: 100%;
}
@media (max-width:500px) {
    .navbar{
        display: flex;
        align-items: center;
        background-color: black;
    }
    .bksnavbar{
        width: 100%;
        height: 60vh;
    }
    .bksnavbar img{
        width: 100%;
        height: 100%;
    }
}